* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid red;

}

.btn-primary {
    background-color: #ff5959;
    color: #fff6f6;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 700;
}

/* Header styles */

.header {
    background-image: url('/images/header-bg.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    background-blend-mode: overlay;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.header-title {
    font-weight: 700;
    font-size: 55px;
}

.header-description {
    margin: 25px 0;
}



/* Donate section */
.donate-option {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    height: 95vh;
}



/* donate card container section */
.donate-plan-section {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    height: 95vh;
}

.donate-card-container {

    display: flex;
    margin: 0 auto;
    /* align-items: baseline; */
    text-align: left;
}



/* article container section */
.article-container {
    max-width: 80vw;
    margin: 0 auto;
}

.article-area {
    display: flex;
    max-width: 90vw;
    margin: 0 auto;
    padding: 20px;


}

.article-summary {
    width: ;
}

.article-image {
    padding: 20px;
}

.article-image img {
    width: 75%;
}